<div
  class="fxLayout"
  style="
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue">

  <mat-card>
    <mat-card-header>
      <mat-card-title
      class="fxLayout"
      style="width: 400px;
      flex-direction: row;
      justify-content: center;
      align-items: center;"
      >
      <mat-icon>lock</mat-icon>
      Login to My System
    </mat-card-title>
      <mat-card-subtitle>
        Please enter email and password
      </mat-card-subtitle>
    </mat-card-header>
    <div class="fxLayout"
        style="margin-top: 10px;
        flex-direction: row;
        justify-content: center;"
    >
      <div class="fxLayout"
      style="flex-direction: column;
      justify-content: center;
      width: 400px"
      >
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email"/>
        </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password"/>
          </mat-form-field>
      </div>
    </div>
    <mat-card-actions
      class="fxLayout"
      style="flex-direction: row;
      justify-content: space-between;"
    >
      <button mat-button>Sign Up</button>
      <button mat-button color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>

